fabric_items/nyc-taxi-data/nyc-data-ingest-pl.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "nyc_tlc_raw/_manifest",
                "fileName": "nyc_tlc_manifest.jsonl"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "nyc_taxi_bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "5a0c1988-e266-81f4-48b3-da48e8e0dcae",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Manifest File",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Lookup Manifest File').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "BinarySource",
                  "formatSettings": {
                    "type": "BinaryReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET",
                    "additionalHeaders": "User-Agent: Mozilla/5.0\nAccept: */*",
                    "requestTimeout": ""
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@{replace(item().url, 'https://d37ci6vzurychx.cloudfront.net','')}",
                          "type": "Expression"
                        }
                      }
                    },
                    "externalReferences": {
                      "connection": "8a7390f5-b7bb-401b-b290-17d11a220634"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "BinarySink",
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "PreserveHierarchy"
                  },
                  "datasetSettings": {
                    "type": "Binary",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Files",
                        "fileName": {
                          "value": "@item().sink_path",
                          "type": "Expression"
                        }
                      }
                    },
                    "linkedService": {
                      "name": "nyc_taxi_bronze",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "5a0c1988-e266-81f4-48b3-da48e8e0dcae",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy to Lakehouse Files",
              "dependsOn": []
            }
          ]
        },
        "name": "For Each Source",
        "dependsOn": [
          {
            "activity": "Lookup Manifest File",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}