fabric_items/Data Engineering High Concurrency/api_ingestion_pl.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "shortcut_table"
            },
            "schema": [],
            "linkedService": {
              "name": "metadata_lh",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "69233f72-a67a-9ab7-4fa9-01774bd2cd19",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup APIs to Load - financials_reported",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup APIs to Load - financials_reported').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {},
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "e28c606d-aaba-9405-4a37-768b371b3a16",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "712d9a73-e5e3-4d3a-a58d-56bc433c1158"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Invoke pipeline",
              "dependsOn": []
            }
          ]
        },
        "name": "For each API Load",
        "dependsOn": [
          {
            "activity": "Lookup APIs to Load - financials_reported",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}