fabric_items/lakehouse and warehouse backups/data_backup_pl.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "shortcut_table"
            },
            "schema": [],
            "linkedService": {
              "name": "metadata_lh",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "69233f72-a67a-9ab7-4fa9-01774bd2cd19",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Control Table",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Control Table').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "LakehouseTableSource",
                  "additionalColumns": [
                    {
                      "name": "_backup_inserted_dttm",
                      "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                      }
                    }
                  ],
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "694a57ad_389a_4cd7_9305_c4f97c3b4016",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@item().source_lh_id",
                          "workspaceId": "@item().source_lh_workspace_id",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "332326e5-6ccb-473b-b4cf-6751de648cda"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "applyVOrder": true,
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "98a1f627_930b_4ff3_a6dc_40077fd17548",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "@item().target_lh_id",
                          "workspaceId": "@item().target_lh_workspace_id",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "332326e5-6ccb-473b-b4cf-6751de648cda"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Backup Data",
              "dependsOn": []
            }
          ]
        },
        "name": "For Each record in control table",
        "dependsOn": [
          {
            "activity": "Lookup Control Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}