fabric_items/lakehouse and warehouse backups/data_backup_pl.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Lookup Control Table",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "connectionSettings": {
              "name": "backup_metadata_lh",
              "properties": {
                "annotations": [],
                "type": "Lakehouse",
                "typeProperties": {
                  "workspaceId": "673fd5a8-d5f7-49fb-a47b-ee4449fc567f",
                  "artifactId": "3b7c97d3-1589-43b8-84c7-c21c4c7cd5ae",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "332326e5-6ccb-473b-b4cf-6751de648cda"
                }
              }
            },
            "type": "LakehouseTable",
            "schema": [],
            "typeProperties": {
              "table": "backup_control_tbl"
            }
          }
        }
      },
      {
        "name": "For Each record in control table",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup Control Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup Control Table').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Backup Data",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "LakehouseTableSource",
                  "additionalColumns": [
                    {
                      "name": "_backup_inserted_dttm",
                      "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                      }
                    }
                  ],
                  "datasetSettings": {
                    "annotations": [],
                    "connectionSettings": {
                      "name": "0bd89544_0701_41c0_b99d_cd1e5919d6fc",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "@item().source_lh_workspace_id",
                          "artifactId": "@item().source_lh_id",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "332326e5-6ccb-473b-b4cf-6751de648cda"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "applyVOrder": true,
                  "datasetSettings": {
                    "annotations": [],
                    "connectionSettings": {
                      "name": "b1ee36ca_1dc9_431f_b4b6_01bd20d5af45",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "@item().target_lh_workspace_id",
                          "artifactId": "@item().target_lh_id",
                          "rootFolder": "Tables"
                        },
                        "externalReferences": {
                          "connection": "332326e5-6ccb-473b-b4cf-6751de648cda"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "table": {
                        "value": "@item().table_name",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}